*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: black;
	font-family: 'Lato', sans-serif;
}

.anchoColumna{
	padding-right: 0px;
	padding-left: 0px;
}

.anchoRow{
    margin-left: 0px;
    margin-right: 0px;
}

.anchoContainer{
    padding-right: 0px;
    padding-left: 0px;
    width: 100% !important;
}

.enableNavMovil{
	display: none;
}

.titulo{
	position: absolute;
	margin-top: 5%;
	margin-left: 70%;
	z-index: 1;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 100px;
}

.tituloDepa{
	position: absolute;
	margin-top: 5%;
	margin-left: 45%;
	z-index: 1;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 100px;
}

.tituloInteresa{
	position: absolute;
	margin-top: 2%;
	margin-left: 42%;
	z-index: 1;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 90px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.quote {
    position: absolute;
    width: 580px;
    padding: 20px;
    color: white;
    bottom: 270px;
    font-size: 18px;
    right: 0px;
    background: rgba(0,0,0,0.75);
}

.black-square{
	position: absolute;
    width: 300px;
    padding: 20px 20px 90px;
    color: white;
    bottom: 90px;
    left: 350px;
    background: rgba(0,0,0,0.75);
}
.black-square h2{
	font-size: 22px;
	margin-top: 10px;
}
.black-square p{
	font-size: 16px;
}
.hyphen{
	font-size: 50px !important;
    margin-top: -40px;
    margin-bottom: 40px;
}
#number{
	    position: absolute;
    top: -177px;
    font-size: 161px;
    color: #000;
    font-weight: bold;
    letter-spacing: 4px;
}

/*Estilos index proyectos*/

#backSlider1{
    background-image: url(../images/slide1.jpg);
}

#backSlider2{
    background-image: url(../images/slide2.jpg);
}

#backSlider3{
    background-image: url(../images/slide3.jpg);
}

#backSlider4{
    background-image: url(../images/slide4.jpg);
}

#backSlider5{
    background-image: url(../images/slide5.jpg);
}

#backSlider6{
    background-image: url(../images/slide6.jpg);
}

#backSlider7{
    background-image: url(../images/slide7.jpg);
}

#backSlider8{
    background-image: url(../images/slide8.jpg);
}

#backSlider9{
    background-image: url(../images/slide9.jpg);
}

#backSlider10{
    background-image: url(../images/slide10.jpg);
}

#backSlider1, #backSlider2, #backSlider3, #backSlider4, #backSlider5, #backSlider6, #backSlider7, #backSlider8, #backSlider9, #backSlider10{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 92.1vh; /*height 100% viewport full*/
}

.carousel-inner img{
    width: 100%;
}

/*botones*/
.boton {
    display: inline-block;
    width: 150px;
    height: 61px;
    text-align: center;
    color: white;
    background-color: grey;
    padding-top: 18px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.fa.fa-angle-left,.fa.fa-angle-right {
	font-size: 18px;
}

.botones{
	float: right;
    margin-top: -4.37em;
    position: relative;
    background-color: grey;
}

/* Icon 3 */

#nav-icon3 {
  width: 60px;
  height: 25px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: white;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 5px;
}

#nav-icon3 span:nth-child(4) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/*nav*/

#side-nav{
	z-index: 1;
	width:280px;
	height:93vh !important;
	position:absolute;
	background: rgba(0,0,0,.8);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
}

.acomodoNav{
	margin-top: 2em;
	margin-bottom: 5em;
	margin-left: 5.5em;
}

.acomodoPie{
	width: 130px;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 5em;
}

.fa.fa-building-o, .fa.fa-home, .fa.fa-map-marker, .fa.fa-star, .imgNotFont{
	font-size: 40px;
	float: right;
	margin-right: 1em;
	margin-bottom: .6em;
}

.fa-home{
	margin-right: .9em !important;
}

.fa-map-marker{
	margin-right: 1.1em !important;
}

.imgNotFont{
	margin-right: .8em !important;
}

.linksNav{
	color: white;
	text-decoration: none;
	margin-left: 1.7em;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

.linksNav:hover{
	color: white;
	text-decoration: none;
	font-weight: 300;
}

#menu-footer>p{
	margin-top: 2em;
	margin-left: 1.7em;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

/*nav movil*/

.navbar-default .navbar-toggle {
    border-color: black;
    float: left;
    width: 90px;
    height: 39px;
}

.navbar-toggle {
    padding: 0px 10px;
}

.navbar-toggle:hover {
    background-color: black;
}

.navbar-default {
	background-color: black;
    z-index: 1;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: black;
}

.navbar {
    margin-bottom: -1px;
    border-color: black;
}

/*footer*/

footer{
	background-color: black;
	height: 70px;
}

#letrasFooter{
	float: right;
	color: white;
	padding: 16px 18px 0px 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 13px;
}

#letrasFooter>a{
	color: white;
	text-decoration: none;
}

/*Interesa*/
form{
	width: 360px;
	color: white;
	margin: auto;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.sel{
	border-radius: 0px;
}

textarea{
	resize: none;
}

button{
	float: right;
	margin-top: 1em;
	width: 180px;
	border-radius: 0px !important;
	font-family: 'Lato', sans-serif;
	transition: .3s;
}

.btn-default:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.fondoForm{
	margin: auto;
	background-color: black;
	width: 550px;
	height: 520px;
}

.altoForm {
    margin-top: 12%;
    position: absolute;
    z-index: 1;
}

/*Media Querys*/
@media (max-width: 1600px) {
	.titulo{
	margin-left: 65%;
	}	
	.tituloDepa{
	margin-left: 35%;
	}
	.tituloInteresa{
	margin-left: 42%;
	}	

}

@media (max-width: 1500px) {
	.titulo{
	margin-left: 60%;
	}	
	.tituloDepa{
	margin-left: 30%;
	}
	.tituloInteresa{
	margin-left: 42%;
	}
}

@media (max-width: 1400px) {
	.titulo{
	margin-left: 57%;
	}	
	.tituloDepa{
	margin-left: 25%;
	}
	.tituloInteresa{
	margin-left: 42%;
	}
}

@media (max-width: 1300px) {
	.titulo{
	margin-left: 52%;
	}	
	.tituloDepa{
	margin-left: 40%;
	font-size: 80px;
	}	
	.tituloInteresa{
	margin-left: 30%;
	}
}

@media (max-width: 1200px) {
	.titulo{
	margin-left: 48%;
	}	
	.tituloDepa{
	margin-left: 40%;
	font-size: 70px;
	}
	.tituloInteresa{
	margin-left: 30%;
	}	
}

@media (max-width: 1100px) {
	.titulo{
	margin-left: 53%;
	font-size: 80px;
	}	
	.tituloDepa{
	margin-left: 40%;
	font-size: 65px;
	}
	.tituloInteresa{
	margin-left: 27%;
	font-size: 80px;
	}
}

@media (max-width: 950px) {
	.titulo{
	margin-left: 56%;
	font-size: 70px;
	}	
	.tituloDepa{
	margin-left: 32%;
	font-size: 60px;
	}
	.tituloInteresa{
	margin-left: 36%;
	font-size: 70px;
	}
}

@media (max-width: 870px) {
	.titulo{
	margin-left: 47%;
	font-size: 70px;
	}	
	.tituloDepa{
	margin-left: 28%;
	font-size: 60px;
	}
	.tituloInteresa{
	margin-left: 47%;
	font-size: 36px;
	}
}

@media (max-width: 768px) {
	.titulo{
	margin-left: 60%;
	font-size: 40px;
	}
	.tituloDepa{
	margin-left: 42%;
	font-size: 40px;
	}	
	.tituloInteresa{
	margin-left: 53%;
	font-size: 40px;
	}
	form{
	width: 280px;
	}
	.fondoForm{
	width: 350px;
	}
	.altoForm {
    margin-top: 18%;
    position: absolute;
    z-index: 1;
	}
	.enableNavMovil{
		display: initial;
	}
	#side-nav{
		display: none;
	}
}

@media (max-width: 588px) {
	.titulo{
	margin-left: 55%;
	font-size: 30px;
	}	
	.tituloDepa{
	margin-left: 40%;
	font-size: 25px;
	}	
	.tituloInteresa{
	margin-left: 45%;
	font-size: 30px;
	}	
}








